
body {
  background: #131515;
}

.navbar-default {
    border-style: none none none none;
    
    box-shadow: none;
}



.meme {
    width: 50px;
    height: auto;
    
}

.navbaritems ul li {
    font-family: Sans-Serif;
    
}

#listitems li {
    font-family: 'Times New Roman', Times, serif;
    
}

.navbar {
    background: #131515;
}

.pagination > li > a
{
    background-color: #131515;
    color: #FFFAFB;
    border-style: none none none none;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #FFFAFB;
    background-color: #7DE2D1;
    border-color: #7DE2D1;
    border-radius: 5px;
    
}

.pagination > .active > a
{
    color: #FFFAFB;
    background-color: #7DE2D1 !Important;
    
    border-radius: 5px;
}

.pagination > .active > a:hover
{
    background-color:  #7DE2D1!Important;
    border: solid 1px #7DE2D1;
}
.intro {
    font-size: 3.2vw;
    font-family: 'Playfair Display';
    color: #FFFAFB;
    margin-left: 4.5vw;
    margin-bottom: 15px;

}

.childin {
    font-size: 2.5vw;
    font-family: 'Playfair Display';
    color: #FFFAFB;
    margin-left: 4.5vw;
    margin-bottom: 2px;
}

.childin:hover {
    color:#2B2C28;
}

#hail {
    color: #FFCB05;

}

.intro:hover {
    color: #2B2C28;
}


.flex-container {
    display:flex;
    
    
}

.flex-container .child {
  flex-grow: 1;
 
  border: 1px solid black
}

#info {
    text-align: center;
    line-height: 50vw;
}










